.firstCard {
    font-size: 15px!important;
}
.positions {
    color: #5f5f5f;
    font-size: 14px!important;
}
.titlea {
    color: #40449f;
    font-size: 18px!important;
}

.titleb {
    color: #40459fa1;
    font-size: 12px!important;
}
h1 {
    color: #40449f;
    font-size: 15px!important;
    font-weight: bold!important;
    margin-top: 18px!important;
}

.custom-button {
    --background: #3f439f;
    --background-activated: #6e7bbd;
    --background-hover: #6e7bbd;
}

.border {
    --background: #3f429f29;
    --background-activated: #6e7bbd;
    --background-hover: #6e7bbd;
}

.padzero {
    padding: 0px;
}

.alignright {
    padding: 0px;
}

.titlec {
    color: #40449f;
    font-size: 30px!important;
}

.rightMargin {
    /* width: 1200px!important; */
    margin-right: 10px;
}

.backsize {
    color: #ffffff;
    font-size: 10px!important;
}